In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import *
from sklearn.model_selection import train_test_split

In [14]:
data = pd.read_csv("./data/AIDS_Classification.csv")
data.head(1)

,time,trt,age,wtkg,hemo,homo,drugs,karnof,oprior,z30,...,str2,strat,symptom,treat,offtrt,cd40,cd420,cd80,cd820,infected
0,948,2,48,89.8128,0,0,0,100,0,0,...,0,1,0,1,0,422,477,566,324,0

### 006 EDA - Dataset Structure

In [ ]:
## number of rows and columns of the tabular data 
data.shape

(2139, 23)

In [ ]:
## all data is integer except `wtkg`
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2139 entries, 0 to 2138
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      2139 non-null   int64
 1   trt       2139 non-null   int64
 2   age       2139 non-null   int64
 3   wtkg      2139 non-null   float64
 4   hemo      2139 non-null   int64
 5   homo      2139 non-null   int64
 6   drugs     2139 non-null   int64
 7   karnof    2139 non-null   int64
 8   oprior    2139 non-null   int64
 9   z30       2139 non-null   int64
 10  preanti   2139 non-null   int64
 11  race      2139 non-null   int64
 12  gender    2139 non-null   int64
 13  str2      2139 non-null   int64
 14  strat     2139 non-null   int64
 15  symptom   2139 non-null   int64
 16  treat     2139 non-null   int64
 17  offtrt    2139 non-null   int64
 18  cd40      2139 non-null   int64
 19  cd420     2139 non-null   int64
 20  cd80      2139 non-null   int64
 21  cd820     2139 non-null   int64
 22  infected  2139 non-null   int64
dtypes: float64(1), int64(22)
memory usage: 384.5 KB

### 007 Missing values

In [18]:
#there is no missing value
data.isnull().sum()

time        0
trt         0
age         0
wtkg        0
hemo        0
homo        0
drugs       0
karnof      0
oprior      0
z30         0
preanti     0
race        0
gender      0
str2        0
strat       0
symptom     0
treat       0
offtrt      0
cd40        0
cd420       0
cd80        0
cd820       0
infected    0
dtype: int64

### 008 Target is binary

In [20]:
# The target variable 'infected' is binary
data['infected'].nunique()

2

### 009 Class imbalance